---
interface Props {
  class?: string;
}
const { class: className = '' } = Astro.props;
---

<a href="/" class:list={["flex items-center gap-3", className]}>
  <svg width="40" height="28" viewBox="-2 10 84 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="shrink-0">
    <path d="M0 20c5-2 12 2 20 5 10 3 18-5 28-7 10-2 17 4 24 10 6 5 8 10 8 17l0 7c-2-4-8-10-15-14-9-5-17-10-27-8-10 2-18 8-26 5-6-2-10-7-12-10z" fill="currentColor"/>
  </svg>
  <span class="text-xl tracking-tight">
    <span class="font-bold">LIGERIAN</span><span class="font-light"> LABS</span>
  </span>
</a>
